In [1]:
import pandas as pd
import knn_model as knn

In [2]:
test_data = pd.read_csv("/Users/finneyer/Documents/HSLU/Semester 3/DSPRO1/Projektarbeit/Data/0.2/London_UTD19_test_Sniper_0.csv")
test_data = test_data.drop(columns=['long', 'lat', 'pos', 'length'], axis=1)
test_data

        interval           detid weekday  traffic
0        25200.0  CNTR_N00/005g1  Friday      8.0
1        79200.0  CNTR_N00/005g1  Friday      6.0
2        43200.0  CNTR_N00/005g2  Friday      6.0
3        54000.0  CNTR_N00/005g2  Friday      7.0
4         7200.0  CNTR_N00/005x1  Friday      2.0
...          ...             ...     ...      ...
136800   64800.0  SOUT_N10/275b1  Sunday      1.0
136801   14400.0  SOUT_N10/313a1  Sunday      0.0
136802   36000.0  SOUT_N10/313a1  Sunday      5.0
136803   57600.0  SOUT_N10/313b1  Sunday      3.0
136804   68400.0  SOUT_N10/313b1  Sunday      2.0

[136805 rows x 4 columns]

In [3]:
models_path = '/Users/finneyer/Documents/HSLU/Semester 3/DSPRO1/Projektarbeit/models/knn'

In [5]:
evaluation = knn.evaluate_knn_models(test_data, models_path)

In [9]:
evaluation

               detid       MAE        MSE        R2
0     CNTR_N00/005g1  5.593333  47.134667  0.201769
1     CNTR_N00/005g2  3.493103  15.645862 -0.386238
2     CNTR_N00/005x1  0.551724   0.574713  0.534361
3     CNTR_N00/005x2  1.120690   2.602490  0.490527
4     CNTR_N01/001b1  2.996753  16.968924  0.699994
...              ...       ...        ...       ...
3595  SOUT_N10/265x1  0.371355   0.384182  0.789077
3596  SOUT_N10/275a1  0.357724   0.350949  0.608790
3597  SOUT_N10/275b1  0.361111   0.412037  0.268043
3598  SOUT_N10/313a1  0.500000   0.758333  0.723677
3599  SOUT_N10/313b1  0.595819   0.847685  0.705465

[3600 rows x 4 columns]

In [10]:
evaluation.MAE.mean()

0.9776847695025246

In [11]:
evaluation.MSE.mean()

3.4671038773754312

In [8]:
prediction_monday = knn.get_knn_prediction('/Users/finneyer/Desktop/test', 0)

In [11]:
prediction_monday

    traffic               detid  interval
0       0.0  CNTR_N01/241d1.pkl         0
1       0.0  CNTR_N01/241d1.pkl      3600
2       0.0  CNTR_N01/241d1.pkl      7200
3       0.0  CNTR_N01/241d1.pkl     10800
4       0.0  CNTR_N01/241d1.pkl     14400
..      ...                 ...       ...
19      0.0  EAST_N05/402t1.pkl     68400
20      0.0  EAST_N05/402t1.pkl     72000
21      0.0  EAST_N05/402t1.pkl     75600
22      0.0  EAST_N05/402t1.pkl     79200
23      0.0  EAST_N05/402t1.pkl     82800

[86400 rows x 3 columns]